.App {
  text-align: center;
  background-image: url("fondo.jpg");
  background-size: cover;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 8vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white; 
}

nav {
  /* background: #282c34; */
  padding: 0px;
  justify-content: right;
  height: 52px;
  width: 100%;
  max-width: 100%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
